
.navbar {
    box-shadow: 0px 0px 5px 1px grey;
}

#my-jumbotron {
    background-image : url("/images/jumbo-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
}
@media only screen and (min-width: 400px) {
    #my-jumbotron { 
        background-image: url('/images/jumbo-bg.png'); 
   }
}
#jumbo-text-contain {
    color: black;
    min-height: 400px;
}
#jumbotron-btn {
    font-size: 20px;
    border: 3px solid ;
    border-radius: 0;
    transition: 0.3s;
}
#jumbotron-btn:hover {
    color:white ;
    border: 3px solid #f5be41;
}
#category-sect {
    text-align: center;
}
#laptop-cat {
    background: #cf3721;
}
#laptop-img {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  #laptop-menu {
    color: black;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
#laptop-cat:hover #laptop-img {
    opacity: 0.3;
}

#laptop-cat:hover #laptop-menu {
    opacity: 1;
}
#phone-cat {
    background: #f5be41;
}
#phone-img {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  #phone-menu {
    color: black;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
#phone-cat:hover #phone-img {
    opacity: 0.3;
}

#phone-cat:hover #phone-menu {
    opacity: 1;
}

#tv-cat {
    background: #258039;
}
#tv-img {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  #tv-menu {
    color: black;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
#tv-cat:hover #tv-img {
    opacity: 0.3;
}

#tv-cat:hover #tv-menu {
    opacity: 1;
}

#clothes-cat {
    background: #31a9b8;
}
#clothes-img {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  #clothes-menu {
    color: black;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
#clothes-cat:hover #clothes-img {
    opacity: 0.3;
}

#clothes-cat:hover #clothes-menu {
    opacity: 1;
}
#shoes-cat {
    background: #f9a603;
}
#shoes-img {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  #shoes-menu {
    color: black;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
#shoes-cat:hover #shoes-img {
    opacity: 0.3;
}

#shoes-cat:hover #shoes-menu {
    opacity: 1;
}

#furniture-cat {
    background: #20232a;
}
#furniture-img {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  #furniture-menu {
    color: white;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
#furniture-cat:hover #furniture-img {
    opacity: 0.3;
}

#furniture-cat:hover #furniture-menu {
    opacity: 1;
}
#kitchen-cat {
    background: #ebdcb2;
}
#kitchen-img {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  #kitchen-menu {
    color: black;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
#kitchen-cat:hover #kitchen-img {
    opacity: 0.3;
}

#kitchen-cat:hover #kitchen-menu {
    opacity: 1;
}

.page-footer {
    background-color: whitesmoke;
}
.list-group a{
    color: black;
}
a {
    color: black;
}
li {
    list-style-type: none;
}
#product-pict {
    position: relative;
}
#product-detail {
    position: fixed;
    height: 100%;
    background: whitesmoke;
    top: 0;
    right: 0;
}
ul {
    display: inline-flex;
}
#btn-login {
    background-color: black;
    color: white;
    transition: 0.3s;
}
#btn-login:hover {
    background-color: white;
    color: black;
}
#btn-register {
    background-color: black;
    transition: 0.3s;
    color: white;
}
#btn-register:hover {
    background-color: white;
    color: black;
}
#regist-password {
    display: inline-flex;
}
#regist-sect2 {
    display: inline-flex;
}

#regist-sect3 {
    display: inline-flex;
}

#regist-sect4 {
    display: inline-flex;
}
#product-cart , #product-price{
    background: whitesmoke;
}
#header-decor {
    background: #20232a;
    color: white;
}
#cart-details {
    background: #f4f4ef !important;
}
#cart-voucher {
    display: inline-flex;
}
hr.style-one {
    border-top: 1px solid black;
    opacity: 25%;
}
#total-sect-1 {
    height: 1rem;
}
#total-sect-2 {
    height: 1rem;
}
#total-sect-3 {
    height: 1rem;
}
#prod-details {
    display: inline-flex;
}
#jumlah-prod {
    display: inline-flex;
}
#ukuran-prod {
    display: inline-flex;
}
#warna-prod {
    display: inline-flex;
}
#checkout-btn {
    background: white;
    transition: 0.3s;
}
#checkout-btn:hover {
    background: black;
    color: white;
    transition: 0.3s;
}